body
  margin-bottom 30px
  font-family Lato
  
h1, h2, h3, h4
  font-family 'Playfair Display'
  
.bad
  background-color pink
  
.good
  background-color lighten(seagreen, 60%)
  
.btn, .form-control
  border-radius 0
  
.form-control
  box-shadow none
